@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

/* .all-login{
  background-color: aqua;
} */
body{
  background-color: #E64519;
}
@media screen and (min-width: 600px){
  .section-login{
    margin-top: 0px !important;
  }
  }

.section-login{
  /* border: 2px solid black; */
  display: flex;
  justify-content: center;
  margin-top: 120px;
  padding: 100px 40px;
  flex-direction: column;
}

.submit-login{
  background-color: #E5E5E5;
  border: 10px solid #E5E5E5;
  padding: 1px 90px;
  border-radius: 30px;
  color: #BB3E03;
  font-size: 18px ;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: bold;
  line-height: 22px;
  transition: all 0.5s;
  cursor: pointer;
}

.submit-login span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.submit-login span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.submit-login:hover span {
  padding-right: 25px;
}

.submit-login:hover span:after {
  opacity: 1;
  right: 0;
}

#label-input-login{
  display:flex;
  justify-content: center;
}

.input-login{
  background-color: #E64519;
  border: 1px solid #E5E5E5;
  box-sizing: border-box;
  border-radius: 20px;
  margin: 10px 10px;
  padding: 10px 10px;
  border-radius: 30px;
  font-size: 18px ;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: normal;
  line-height: 20px;
  /* border: none; */
  outline:none;
  color: #E5E5E5;
}
.input-login::placeholder{
  color: #ff7043  ;
}

#logoCenter-login{
  margin-bottom: 30px;
}

.label-login{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: #E5E5E5;
}

#positionButton{
  display: flex;
  justify-content: center;
}

#positionImage{
  display: flex;
  justify-content: center;
}

#cadastro{
  background-color: #E5E5E5;
  margin: 40px 20px;
  border-radius: 40px;
  padding: 60px 40px 20px 15px;
}


.input-cadastro{
  background-color: #E5E5E5;
  border: 2px solid #AEAAAA;
  box-sizing: border-box;
  border-radius: 20px;
  margin: 10px 10px;
  padding: 10px 10px;
  border-radius: 30px;
  font-size: 16px ;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: normal;
  line-height: 20px;
  /* border: none; */
  outline:none;
  width: 100%;
}

.input-cadastro::placeholder{
  color: #9e9e9e ;
}

#cep-bairro, #ap-bloco{
  display: flex;
  flex-direction: row;
}

#inputCadastroCep, #inputCadastroAp{
  width: 80%;
}

#inputCadastroNumero{
  width: 40%;
}

#inputCadastroBairro, #inputCadastroBloco{
  width: 100%;
}

#cadastro{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: bold;
  font-size: 35px;
  line-height: 29px;
  color: #000000;
}

.label-cadastro{
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  color: #000000;
}

.submit-Cadastro{
    background-color: #f4511e;
    border: 10px solid #f4511e;
    border-radius: 30px;
    color: #E5E5E5;
    font-size: 18px ;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: bold;
    line-height: 22px;
    transition: all 0.5s;
    cursor: pointer;
}

.contain-submit-cadastro{
  display: flex;
  justify-content: center;
}

.submit-Cadastro span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.submit-Cadastro span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.submit-Cadastro:hover span {
  padding-right: 25px;
}

.submit-Cadastro:hover span:after {
  opacity: 1;
  right: 0;
}